<div class="footer-container">
  <div class="links-box">

    <div class="box">
      <div class="title"><div class="box-icon"><i class="icon-logo"></i></div>olimpCTF</div>
      <div class="subtitle">The premier platform for cybersecurity challenges and learning.</div>
    </div>

    <div class="box">
      <div class="title">Platform</div>

      <a class="link" href="#">Challenges</a>
      <a class="link" href="#">Leaderboard</a>
      <a class="link" href="#">Learn</a>
      <a class="link" href="#">Community</a>
    </div>

    <div class="box">
      <div class="title">Support</div>

      <a class="link" href="#">Help Center</a>
      <a class="link" href="#">Documentation</a>
      <a class="link" href="#">Contact</a>
      <a class="link" href="#">Discord</a>
    </div>

    <div class="box">
      <div class="title">Legal</div>

      <a class="link" href="#">Privacy Policy</a>
      <a class="link" href="#">Terms of Service</a>
      <a class="link" href="#">Code of Conduct</a>
    </div>
  </div>

  <hr>

  <div class="copyright">
    © 2025 olimpCTF. All rights reserved.
  </div>
</div>
