@use 'colors' as colors;

.footer-container{
  background: colors.$background_secondary;

  .links-box{
    padding: 2rem;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;

    .box{
      display: flex;
      flex-direction: column;

      .title{
        color: colors.$text_secondary;

        .box-icon{
          i{

          }
        }
      }
      .subtitle{
        padding-top: 1rem;
        width: 80%;
        color: colors.$text_tertiary;
      }

      .link{
        text-decoration: none;
        color: colors.$text_tertiary;

        &:hover{
          color: colors.$text_secondary;
        }
      }
    }
  }

  .copyright{
    text-align: center;
    color: colors.$text_tertiary;

    padding: 2rem;
  }
}
