/.idea/

*/node_modules/
*/.vscode/

# dependence
/Frontend/node_modules/
/Frontend/package-lock.json
/Backend/api/node_modules/
/Backend/api/package-lock.json
/TaskRunner/api/node_modules/
/TaskRunner/api/package-lock.json


/TaskRunner/api/.env
/TaskRunner/api/tasks

/DataBaseModels/
/MY_INFO/

info.txt

/my_tasks/