version: '3.9'

services:
  backend:
    build:
      context: ./Backend/api
    container_name: backend
    ports:
      - "5000:5000"
    volumes:
      - ./Backend/api:/app
      - backend-node-modules:/app/node_modules
    depends_on:
      - backend-db
    environment:
      - DB_HOST=backend-db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=admin_password
      - DB_NAME=db
    networks:
      - app-network

  task-runner:
    build:
      context: ./TaskRunner/api
    container_name: task-runner
    ports:
      - "5001:5001"
    volumes:
      - ./TaskRunner/api:/app
      - task-runner-node-modules:/app/node_modules
      - /var/run/docker.sock:/var/run/docker.sock
      - ./TaskRunner/api/tasks:/app/tasks
    depends_on:
      - task-runner-db
    environment:
      - DB_HOST=task-runner-db
      - DB_PORT=5432
      - DB_USER=admin
      - DB_PASSWORD=admin_password
      - DB_NAME=db
      - DOCKER_HOST=unix:///var/run/docker.sock
    networks:
      - app-network
    privileged: true

  frontend:
    build:
      context: ./Frontend
    container_name: frontend
    ports:
      - "4200:4200"
    volumes:
      - ./Frontend:/app
      - frontend-node-modules:/app/node_modules
    depends_on:
      - backend
    networks:
      - app-network

  admin-panel:
    build:
      context: ./AdminPanel
    container_name: admin-panel
    ports:
      - "4201:4200"
    volumes:
      - type: bind
        source: ./AdminPanel
        target: /app
      - /app/node_modules
    depends_on:
      - backend
    networks:
      - app-network

  backend-db:
    image: postgres:15
    container_name: backend-db
    restart: always
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: db
    volumes:
      - backend-db-data:/var/lib/postgresql/data
    networks:
      - app-network

  task-runner-db:
    image: postgres:15
    container_name: task-runner-db
    ports:
      - "5433:5432"
    restart: always
    environment:
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: admin_password
      POSTGRES_DB: db
    volumes:
      - task-runner-db-data:/var/lib/postgresql/data
    networks:
      - app-network


  pgadmin:
    image: dpage/pgadmin4
    container_name: pgadmin
    restart: always
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
    volumes:
      - pgadmin-data:/var/lib/pgadmin
    depends_on:
      - backend-db
      - task-runner-db
    networks:
      - app-network

volumes:
  backend-db-data:
  task-runner-db-data:
  frontend-node-modules:
  backend-node-modules:
  task-runner-node-modules:
  pgadmin-data:

networks:
  app-network:
    driver: bridge
