@use 'colors' as colors;


.category-container{

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 1rem;
  height: 12.5rem;
  width: 25rem;

  border-radius: 1rem;

  background: colors.$background_secondary;

  .category-name{
    color: colors.$text_primary;
    font-size: 2rem;
  }

  &:hover{
    box-shadow: inset 0 0 0 1px colors.$primary;
  }
}

