<div class="category-container">
  <h1 class="category-name">{{ category.name }}</h1>

  <div>

    @if(tasks.length === 0){
      <div class="info-message">Tasks not found.</div>
    }

    @for(task of tasks; track task.id){
      <div class="task-item" (click)="onTaskClick(task)" [class.completed]="task.completed">
        <span class="task-title">{{ task.title }}</span>
        <span class="task-points">{{ task.points }} pts</span>
        @if(task.completed){
          <span class="completion-badge">Completed</span>
        }
      </div>
    }
  </div>

</div>


@if(showTask){
  <app-task [task]="clickedTask" (close)="onTaskClose()"></app-task>
}


