<div class="task-container" (click)="onTaskClick()" [class.completed]="task.completed">


  <div class="task-header">
    <div class="task-icon">
      @if(task.icon) {
        <img [src]="task.icon" alt="Task icon">
      } @else {
        <i class="icon-default"></i>
      }
    </div>

    <div class="task-header-box">
      <div class="task-title">{{ task.title }}</div>
      <div
        class="task-difficulty"
      >Difficulty:
        <span [class]="task.difficulty">
          {{ task.difficulty | titlecase }}
        </span>
      </div>
    </div>
  </div>

  <div class="task-main">
    <div class="task-points">Task points: {{ task.points }}</div>
  </div>
  <div class="task-footer">
    <div class="task-description">{{ task.description }}</div>
  </div>
</div>
