@use 'colors' as colors;


.task-container{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 10rem;
  width: 20rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: colors.$background_secondary;

  // TODO: add color to global variable
  box-shadow: inset 0 0 0 1px rgba(0, 213, 166, 0.2);
  transition: box-shadow 0.2s ease;

  &.completed{
    box-shadow: inset 0 0 0 1px colors.$primary;
    opacity: 0.6;
    cursor: default;
  }

  &:hover{
    box-shadow: inset 0 0 0 1px colors.$primary;
  }


  .task-header{
    margin: 1rem;
    display: flex;
    justify-content: space-between;

    .task-icon{
      height: 2rem;
      width: 2rem;
      border-radius: 0.25rem;
      display: flex;
      align-items: center;
      justify-content: center;
      background: colors.$background_primary;
      border: 1px solid colors.$primary;

      img {
        width: 1.75rem;
        height: 1.75rem;
        object-fit: contain;
      }

      .icon-default {
        font-size: 1rem;
        color: colors.$primary;
      }
    }

    .task-header-box{
      width: 70%;
      .task-title{
        color: colors.$text_primary;
      }

      .task-difficulty{
        .easy{
          color: colors.$task_text_easy;
        }
        .medium{
          color: colors.$task_text_medium;
        }
        .hard{
          color: colors.$task_text_hard;
        }
      }
    }
  }

  .task-main{
    .task-points{
      color: colors.$text_secondary;
    }
  }

  .task-footer{
    .task-description{
      color: colors.$text_secondary;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
