@use 'colors' as colors;


.task-container{
  display: flex;
  flex-direction: column;
  cursor: pointer;
  height: 10rem;
  width: 20rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  background: colors.$background_secondary;

  &:hover{
    box-shadow: inset 0 0 0 1px colors.$primary;
  }


  .task-header{
    margin: 1rem;
    display: flex;
    justify-content: space-between;

    .task-icon{
      height: 2rem;
      width: 2rem;

      background: red;
    }

    .task-header-box{
      width: 70%;
      .task-title{
        color: colors.$text_primary;
      }

      .task-difficulty{
        .easy{
          color: colors.$task_text_easy;
        }
        .medium{
          color: colors.$task_text_medium;
        }
        .hard{
          color: colors.$task_text_hard;
        }
      }
    }
  }

  .task-main{
    .task-points{
      color: colors.$text_secondary;
    }
  }

  .task-footer{
    .task-description{
      color: colors.$text_secondary;
      overflow: hidden;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }
  }
}
