@use 'colors' as colors;


.task-container{
  display: flex;
  cursor: pointer;
  height: 10rem;
  width: 20rem;

  margin: 1rem;
  padding: 1rem;
  border-radius: 0.5rem;
  box-shadow: inset 0 0 0 2px colors.$primary;

  &.completed{
    opacity: 0.5;
    cursor: auto;
    pointer-events: none;
  }
  .task-icon{
    width: 40%;
  }

  .task-info{
    width: 60%;

    display: flex;
    flex-direction: column;
    justify-content: center;

    gap: 1rem;

    .task-title{
      color: colors.$text_primary;
    }
    .task-description{
      color: colors.$text_secondary;
    }
  }

  .completion-badge{

  }
}
