$primary: #00ff00;
$background_primary: #0a0a0a;
$text_primary: #00ff00;
$text_secondary: #D1D5DBFF;


$task_text_easy: #fff;
$task_text_medium: #f80;
$task_text_hard: #f00;










$secondary: #730000;

$background_secondary: #000000;

$background: #ffffff;

$text_error: #ff3300;

$back: rgb(0,0,0,0.4);

$footer_background: #000000;
$footer_title: #ffffff;
$footer_text: #afafaf;
