<div class="admin-container">
  <nav class="navbar">
    <div class="navbar-brand">
      <h1>Admin Panel</h1>
    </div>
    <div class="navbar-actions">
      <p-button
        label="Logout"
        icon="pi pi-sign-out"
        severity="danger"
        (onClick)="logout()"
        [outlined]="true">
      </p-button>
    </div>
  </nav>

  <div class="main-wrapper">
    <aside class="sidebar">
      <div class="sidebar-nav">
        <p-menu [model]="menuItems" [style]="{'width':'100%', 'border':'none'}"></p-menu>
      </div>
    </aside>

    <main class="content">
<!--      <div class="content-container">-->
        @if(currentView === 'dashboard'){
          <app-dashboard-view></app-dashboard-view>
        } @else if (currentView === 'users'){
          <app-users-view></app-users-view>
        } @else if (currentView === 'tasks'){
          <app-tasks-view></app-tasks-view>
        } @else if (currentView === 'categories'){
          <app-categories-view></app-categories-view>
        } @else if (currentView === 'logs'){
          <app-logs-view></app-logs-view>
        }
<!--      </div>-->
    </main>
  </div>
</div>
