.admin-container {
  display: flex;
  height: 100vh;
  width: 100wh;
  overflow: hidden;
}
// TODO: colors in file
.sidebar {
  width: 10rem;
  background: #000000;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.sidebar-header {
  padding: 1rem;

  h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 600;
    color: white;
  }
}

.sidebar-nav {
  flex: 1;
  overflow-y: auto;

  ::ng-deep .p-menu {
    background-color: transparent;

    .p-menuitem-link {
      color: rgba(255, 255, 255, 0.9);

      &:hover {
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
  }
}

.sidebar-footer {
  padding: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.content {
  flex: 1;
  overflow-y: auto;
  background-color: #000000;
  padding: 2rem;
}
