@use 'colors' as colors;


.admin-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;

  .sidebar {
    width: 16rem;
    display: flex;
    flex-direction: column;
    height: 100vh;

    .sidebar-header {
      padding: 1rem;

      h2 {
        margin: 0;
        font-size: 1.5rem;
        font-weight: 600;
      }
    }

    .sidebar-nav {
      flex: 1;
      overflow-y: auto;
    }

    .sidebar-footer {
      padding: 1rem;
    }
  }

  .content {
    flex: 1;
    overflow-x: auto;
    overflow-y: auto;
    background-color: colors.$background_primary;
    padding: 2rem;
    min-width: 0;
  }
}
