$primary: #00ff00;
$secondary: #730000;

$background_primary: #0a0a0a;
$background_secondary: #000000;
$back: rgb(0,0,0,0.4);

$text_primary: #00ff00;
$text_secondary: #D1D5DBFF;
$text_error: #ff3300;


$task_text_easy: #fff;
$task_text_medium: #f80;
$task_text_hard: #f00;
