$primary: #00d5a6;
$secondary: #730000;

$background_primary: #121212;
$background_secondary: #0a0a0a;
$background_tertiary: #0a0a0a;

$text_primary: #00d5a6;
$text_secondary: #ffffff;
$text_tertiary: #afafaf;

$text_error: #ff3300;
$text_success: #33ff00;

$task_text_easy: #fff;
$task_text_medium: #f80;
$task_text_hard: #f00;

$background: #ffffff;
$back: rgb(0,0,0,0.4);
