@use 'colors' as colors;


.category-view-container{
  .category-view-view{
    padding: 2rem 5rem;

    .category-view-name{
      font-size: 2rem;
      color: colors.$text_primary;
    }
    .category-view-details{
      font-size: 1.5rem;
      color: colors.$text_secondary;
    }
  }


  .task-item-container{
    margin: 0 5rem;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;

    .info-message{

    }
  }
}
