<div class="home-container">
  <div class="home-header-container">
    <div>
      <div class="home-header-title">Master Cybersecurity Through Competitive Challenges</div>
      <div class="home-header-subtitle">Join olimpCTF and test your skills against the world's best hackers. Solve real-world security challenges and climb the global leaderboard.</div>
      <button class="start_competing_button">Start Competing</button>
      <button class="view_challenges_button">View Challenges</button>
    </div>

    <div class="dashboard-container">
      <div class="dashboard">

      </div>
    </div>
  </div>

  <div class="statistics-container">
    <div class="statistics-item">
      <div class="statistics-item-value">10</div>
      <div class="statistics-item-title">Active Players</div>
    </div>

    <div class="statistics-item">
      <div class="statistics-item-value">10</div>
      <div class="statistics-item-title">Challenges</div>
    </div>

    <div class="statistics-item">
      <div class="statistics-item-value">10</div>
      <div class="statistics-item-title">Countries</div>
    </div>

    <div class="statistics-item">
      <div class="statistics-item-value">10</div>
      <div class="statistics-item-title">Guides</div>
    </div>
  </div>


  <div class="challenge-categories-container">
    <div class="title">Challenge Categories</div>
    <div class="subtitle">Test your skills across multiple cybersecurity domains</div>
    <div class="categories-container">

      @for(category of categories; track category){
        <div class="category">
          <div class="box-icon"><i class="{{ category.icon }}"></i></div>
          <div class="category-title">{{ category.name }}</div>
          <div class="category-subtitle">Find vulnerabilities in web applications and exploit them to capture flags.</div>
          <div class="challenges-count">24 Challenges</div>
        </div>
      }

    </div>
  </div>

  <app-footer></app-footer>
</div>
