<div class="profile-container" [class.info-message]="loading || error">

  @if (loading){
    <div class="loading">Loading profile...</div>
  } @else if (error && !loading){
    <div class="error">{{ error }}</div>
  } @else if (userProfile){




    <div class="side-container">
      <div class="profile-icon-container">
        @if(userProfile.icon){<img [src]="userProfile.icon" alt="Profile Icon" class="icon-image">} @else {<img [src]="userProfile.icon" alt="Profile Icon" class="icon-image">}
      </div>

      <div class="side-footer-container">
        <div class="profile-username">@{{ userProfile.login }}</div>
        <div class="profile-joined">Member since {{ userProfile.created_at | date:'mediumDate' }}</div>
      </div>


      @if(isOwnProfile){
        <button (click)="goToEditProfile()" class="btn">Edit Profile</button>
      }
    </div>

    <div class="main-container">
      <div class="profile-name">{{ userProfile.name }} {{ userProfile.lastname }}</div>

      <div class="profile-rank"><div class="box-icon"><i class="icon-rank"></i></div>100-th</div>
      <div class="profile-description">{{ userProfile.bio || 'No bio available' }}</div>

      <app-statistics-radar-chart [statistics]="userProfile.statistics"></app-statistics-radar-chart>
    </div>
  }
</div>
