@use 'colors' as colors;

.profile-container{
  padding: 2rem;
  display: flex;


  &.info-message{
    height: calc(100dvh - var(--navbar-height));
    width: 100%;
    padding: 0;

    justify-content: center;
    align-items: center;

    .loading{
      color: colors.$text_primary;
    }
    .error{
      color: colors.$text_error;
    }
  }


  .side-container{
    padding: 1rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    background: colors.$background_secondary;



    .profile-icon-container{
      .icon-image{
        border-radius: 50%;
        height: 18rem;
        width: 18rem;
      }

      .default-profile-icon {
        height: 18rem;
        width: 18rem;
        font-size: 8rem;
        border-width: 3px;
      }
    }

    .side-footer-container{
      padding: 1rem;

      .profile-name{
        color: colors.$text_primary;
        font-size: 1.5rem;
      }
      .profile-username{
        color: colors.$text_secondary;
      }
      .profile-joined{
        color: colors.$text_tertiary;
      }
    }
  }

  .main-container{
    padding: 1rem;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    background: colors.$background_secondary;

    width: 100%;

    color: colors.$text_secondary;


    .profile-name{
      font-size: 1.7rem;
      color: colors.$text_primary;
    }

    .profile-rank{
      font-size: 1.5rem;
    }

    .profile-description{
      margin: 1rem 0;
    }
  }
}
