<div class="login-container">
  <form class="login-form" action="post" autocomplete="off" method="POST">
    <h2>Login</h2>

    <div class="input-container">
      <input [(ngModel)]="login_info.login" type="text" name="login" placeholder="Login or email" title="Login">
    </div>

    <div class="input-container">
      <input [(ngModel)]="login_info.password" type="password" name="password" placeholder="Password" title="Password">
    </div>

    @if(errorMessage){
      <p class="error-message">{{ errorMessage }}</p>
    }

    <button
      (click)="login()"
      class="submit-btn"
      type="submit"
      title="Sign in"
    >Login</button>

    <div class="link-container">
      <a href="#" [routerLink]="['/register']">Register</a>
    </div>

    <div class="custom-login-container">
      <a href="" class="google-login">
        <i></i><div>Use Google</div>
      </a>
    </div>

  </form>
</div>
