<div class="login-container">
  <div class="login-form">
    <h2>Login</h2>

    <form action="post" autocomplete="off" method="POST">
      <div class="input-container">
        <input type="text" name="login" placeholder="Login or email" title="Login" class="input-form">
      </div>

      <div class="input-container">
        <input type="password" name="password" placeholder="Password" title="Password" class="input-form">
      </div>

      @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
      }

      <button (click)="login()" type="submit" title="Sign in" class="submit-btn">Login</button>

      <a href="#" [routerLink]="['/register']">Register</a>
    </form>
  </div>
</div>
