<div class="back">
  <div class="task-view-container">
    <div class="header">
      <a (click)="onCloseClick()">Close</a>
    </div>

    <div class="">
      <h1>{{ task.title }} | Status</h1>
      <h2>Points: {{ task.points }}</h2>
      <h2>Difficulty: {{ task.difficulty }}</h2>
      <h2>Is active: {{ task.is_active }}</h2>
      <h2>Created at: {{ task.created_at }}</h2>
      <h2>Author: {{ task.author }}</h2>
    </div>

    <div class="main-container">
      <div class="task-view-description">{{ task.description }}</div>

      <div class="hints-container">
        <button class="hints-button btn" (click)="noHintsClick()">Hints ???</button>
        <div class="hints">
          @if(showHints){
            @for(hint of task.hints; track hint){
              <div class="hint">{{ hint }},</div>
            }
          }

        </div>
      </div>
    </div>

    <div class="submit-flag-container">
      <input type="text" [(ngModel)]="flagInput">
      <button class="btn" (click)="verifyFlag(task.id)">Submit flag!</button>
    </div>
  </div>
</div>
