@use 'colors' as colors;


.back{
  height: 100vh;
  width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  background: colors.$back;

  z-index: 100;

  .task-view-container{
    background: colors.$background_primary;
    color: colors.$text_primary;
    position: absolute;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: 1rem;
    border-radius: 1rem;
    border: 1px solid colors.$text_primary;

    height: 50%;
    width: 60%;


    .hints-container{

      .hints{
        display: flex;
        .hint{

        }
      }
    }

    .submit-flag-container{
      input[type='text']{
        cursor: pointer;

        height: 3rem;


        border: 1px solid colors.$back;
        border-radius: 0.5rem;

      }
    }
  }
}
