<div class="dialog-window-container interactive-container" (click)="$event.stopPropagation()">
  <div class="content-container">
      <div class="dialog-icon"></div>
      <div class="dialog-message">
        {{ message }}
      </div>
  </div>
  <div class="active-container">
    @if (dialogMode === 'info') {
      <button (click)="onSubmitToggled()">Ok</button>
    } @else {
      <button (click)="onCancelToggled()">Cancel</button>
      <button (click)="onSubmitToggled()">Submit</button>
    }
  </div>
</div>
