/* You can add global styles to this file, and also import other style files */

@use 'colors' as colors;
@use 'styles/components/button';

*{
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'Roboto';
  src: url('/assets/fonts/Roboto.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html{
  background: colors.$background_primary;
}

::-moz-selection,
::selection {
  color: colors.$background_primary;
  background: colors.$primary;
}
