<div class="register-container">

  <form class="register-form" action="post" autocomplete="off" method="POST">
    <h2>Register</h2>

    @if(firstStep){
      <div class="input-container">
        <input
          [(ngModel)]="register_info.login"
          class="input"
          type="text" name="login"
          placeholder="Username"
          title="Username"
          >
      </div>

      <div class="input-container">
        <input
          [(ngModel)]="register_info.email"
          class="input"
          type="text"
          name="email"
          placeholder="Email"
          title="Email">
      </div>

      <button (click)="nextStep()" type="submit" title="Next step" class="submit-btn btn">Next</button>
    } @else {
      <div class="input-container">
        <input
          [(ngModel)]="register_info.password"
          class="input"
          type="password"
          name="password"
          placeholder="Password"
          title="Password">
      </div>

      <div class="input-container">
        <input
          [(ngModel)]="register_info.confirmPassword"
          class="input"
          type="password"
          name="password"
          placeholder="Password"
          title="Password">
      </div>

      @if(errorMessage){
        <p class="error-message">{{ errorMessage }}</p>
      }

      <button (click)="register()" type="submit" title="Sign in" class="submit-btn btn">Register</button>
    }





    <div class="link-container">
      <a href="#" [routerLink]="['/login']">Login</a>
    </div>

  </form>
</div>
