@use 'colors' as colors;

.register-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: calc(100dvh - var(--navbar-height, 3.75rem));
  background: colors.$background_primary;

  width: 100vw;

  .register-form {
    box-shadow: inset 0 0 0 1px colors.$primary;

    width: 25rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: colors.$background_primary;
    padding: 2rem;
    border-radius: 1rem;

    h2 {
      color: colors.$text_secondary;
      margin-bottom: 1rem;
    }

    .input-container {
      width: 100%;
      margin-bottom: 1.5rem;
      text-align: left;

      display: flex;
      justify-content: center;


      input {
        width: 100%;


        border: 0;
        border-radius: 0.5rem;

        padding: 1rem;
        font-size: 1rem;

        outline: none;
      }
    }

    .submit-btn {
      width: 100%;
    }

    .link-container{
      width: 100%;
      height: 2rem;

      display: flex;
      justify-content: end;
      align-items: center;

      a{
        padding: 0.5rem;
        color: colors.$text_secondary;
        text-decoration: none;
      }
    }

    .error-message {
      color: colors.$text_error;
      margin-bottom: 1rem;
    }
  }
}

