@use '../colors' as colors;

.btn {

  background: colors.$background_primary;
  color: colors.$text_primary;
  border: 1px solid colors.$text_primary;

  cursor: pointer;

  padding: 0.5rem 1rem;
  height: 3rem;

  min-width: 8rem;
  border-radius: 0.5rem;

  font-size: 1rem;
  font-weight: 500;

  transition: all 0.2s ease;

  outline: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  box-sizing: border-box;


  &.red{
    background: colors.$background_primary;
    color: colors.$text_error;
    border: 1px solid colors.$text_error;
  }

  &:hover{
    opacity: 0.85;
  }

  &:active{
    transform: scale(0.98);
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
