@use 'colors' as colors;

.input {

  border: none;
  padding: 1rem;
  border-radius: 0.5rem;

  border: 0;


  background: colors.$background_secondary;

  color: colors.$text_secondary;
  outline: none;

  box-shadow: inset 0 0 0 1px rgba(colors.$primary, 0.5);

  &:focus{
    box-shadow: inset 0 0 0 1px colors.$primary;
  }
}
