@use '../colors' as colors;

.default-profile-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background: colors.$background_primary;
  color: colors.$primary;
  font-weight: 600;
  box-shadow: 0 0 0 2px colors.$primary;
  border-radius: 50%;
}
