<div class="navbar-container">
  <div class="navbar-box">

    <div class="navbar-logo">
      <div><a
        class="navbar-name"
        [routerLink]="['/home']"
      >>_ olimpCTF</a></div>
    </div>

    <ul>
      <li><a [routerLink]="['/home']">~/home</a></li>
<!--      <li><a [routerLink]="['/welcome']">~/welcome</a></li>-->
      <li><a [routerLink]="['/dashboard']">~/dashboard</a></li>
      <li><a [routerLink]="['/categories']">~/categories</a></li>

<!--      <li><a [routerLink]="['/profile']">~/profile</a></li>-->



      @if (user){
        <li>
          <a [routerLink]="['/profile']">{{ user.login}}</a>
          <a>
            <i>

            </i>
          </a>
        </li>
      }


<!--    TODO: profile it login and icon  -->

<!--    TODO: profile  -->
<!--    TODO: edit profile  -->
<!--    TODO: logout  -->
    </ul>
  </div>
</div>
