@use 'colors' as colors;

.navbar-container{
  width: 100vw;
  background: colors.$background_primary;

  box-shadow: inset 0 -1px 0 0 colors.$primary;

  height: var(--navbar-height);

  display: flex;

  .navbar-box{
    width: 100%;
    padding: 0 5rem;
    display: flex;

    justify-content: space-between;
    align-items: center;

    .navbar-logo{

      .navbar-name{
        font-size: 1.5rem;
        color: colors.$text_primary;
        text-decoration: none;
      }
    }

    ul{
      display: flex;
      justify-content: end;

      li{
        margin-left: 1.5rem;
        list-style: none;
        a{
          text-decoration: none;
          color: colors.$text_primary;
        }

        a:hover{
          color: rgba(colors.$text_primary, 0.8);
        }
      }
    }
  }
}
