@use 'colors' as colors;

.navbar-container{
  width: 100vw;
  background: colors.$background_primary;



  ul{
    display: flex;
    justify-content: end;

    li{
      list-style: none;
      padding: 1ex;

      a{
        text-decoration: none;
        color: colors.$text_primary;
      }

      a:hover{
        color: rgba(colors.$text_primary, 0.8);
      }
    }
  }
}
