<div class="navbar-container">
  <div class="navbar-box">

    <div class="navbar-logo">
      <div><a
        class="navbar-name"
        [routerLink]="['/home']"
      >>_ olimpCTF</a></div>
    </div>

    <ul>
      <li><a [routerLink]="['/home']">~/home</a></li>
<!--      <li><a [routerLink]="['/welcome']">~/welcome</a></li>-->
      <li><a [routerLink]="['/dashboard']">~/dashboard</a></li>
      <li><a [routerLink]="['/categories']">~/categories</a></li>

<!--      <li><a [routerLink]="['/profile']">~/profile</a></li>-->



      @if (user){
        <li class="profile-container">

          <a [routerLink]="['/profile']">
            <div class="profile-icon-container">
              @if(user.icon){<img [src]="user.icon" alt="Profile Icon" class="icon-image">} @else {<img [src]="user.icon" alt="Profile Icon" class="icon-image">}
            </div>
          </a>

          <a class="profile-box"
            href="javascript:void(0)"
            (click)="profileMenuToggled()">

            <div>{{user.login}}</div>

            <div class="profile-menu-icon" [class.active]="showProfileMenu">^</div>
          </a>
        </li>
      }


      @if(showProfileMenu){
        <div class="profile-menu-container">
          <ul>
            <li>
              <a [routerLink]="['/profile']" (click)="profileMenuToggled()">~/profile</a>
            </li>
            <li>
              <a [routerLink]="['/profile-edit']" (click)="profileMenuToggled()">~/edit_profile</a>
            </li>
            <li><a (click)="profileMenuToggled(); onLogoutToggled()" [routerLink]="['/']">~/logout</a></li>
          </ul>
        </div>
      }
    </ul>
  </div>
</div>
