.navbar-container{

}

.navbar-container ul{
  display: flex;
}

.navbar-container ul li{
  list-style: none;
  padding: 1ex;
}

.navbar-container ul li a{
  text-decoration: none;
  color: black;
}

.navbar-container ul li a:hover{
  color: #393939;
}
