.mountains-container {
  width: 100%;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  canvas {
    width: 100%;
    height: 100%;
    display: block;
  }
}
